:root {
  --primary-color: #ff6b6b;
  --accent-color: #ffd93d;
  --bg-color: #1a1a1a;
  --text-color: #ffffff;

  --shadow-soft:
    0 1px 2px rgba(0, 0, 0, 0.06),
    0 4px 8px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: clamp(50px, 10vh, 120px);
  background-color: rgb(255, 255, 255);
  box-shadow: var(--shadow-soft);
  padding: 10px;
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-weight: 600;
}

ul,
li {
  list-style: none;
  padding: 5px;
}

.container {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px
}

.container > * {
  background-color: rgb(255, 255, 255);
  height: 200px;
  border-radius: 10px;
  box-shadow: var(--shadow-soft);
}

h2 {
  font-size: clamp(1.4rem, 3vw, 2rem);
  font-weight: 500;
  margin-bottom: 1vh;
}

.habit-container {
  display: grid;
  text-align: center;
  padding: 5px;
}

.habit-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.mood-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: clamp(80px, 15vh, 180px);
}

.mood-selector {
  gap: 10px;
}

.mood-selector label {
  font-size: clamp(2rem, 4vw, 3rem);
}

.mood-selector input {
  display: none;
}

.affirm-container {
}

.graph-container {
}

.gratitude-container {

}