@font-face {
    font-family: 'Manrope';
    src: url('fonts/Manrope-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {

  --main-font: 'Manrope', sans-serif;
  --primary-clr: #8a1c0b;
  --orange: #e96323;
  --bg-clr: #00110f;
  --secondary-clr: #350805;
  --accent-clr: #d1b057;
  --dark-yellow: #655837;
  --xtra-accent-clr: #005e5c;
  --mint: #8cdaa4;
  --bg-body: #01251e;
  --green: #00332b;
  --text-clr: #efddb3;

  --sm-padding: 20px;
  --lg-gap: 20px;

  --border-soft: 2rem;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  max-height: 100dvh;
}

body {
  display: grid;
  place-items: center;
  background-color: var(--bg-body);
}

.wrapper {
  display: grid;
  box-sizing: border-box;
  grid-template-areas: 
  "sidebar header"
  "sidebar container";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  border-radius: var(--border-soft);
  font-family: var(--main-font);
  color: var(--text-clr);
  caret-color: var(--accent-clr);
  background-color: var(--bg-clr);
  margin: 0rem 4rem;
  margin-top: 1rem;
  padding: 1rem;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  color: var(--text-clr);
  opacity: 0.5;
  padding: 0 4vh;
  font-size: 1.1rem;
  font-weight: 600;
}

.search-wrapper {
  position: relative;
  display: inline-block;
}

.search-wrapper input {
  border-radius: var(--border-soft);
  border: 2px solid var(--green);
  padding: 0.5rem 2.2rem 0.5rem 1rem;
  margin: 0 1rem;
  font-size: 1.2rem;
  box-sizing: border-box;
  background-color: var(--bg-body);
  color: var(--text-clr);
  transition: all 0.2s ease;
}

.search-wrapper input:hover,
.search-wrapper input:focus {
  border-color: var(--dark-yellow);
  background-color: var(--green);
  outline: none;
}

.search-icon {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text-clr);
  pointer-events: none;
  height: 1.2rem;
  width: 1.2rem;
}

.sidebar {
  grid-area: sidebar;
  width: clamp(60px, 5vw, 100px);
  display: flex;
  align-items: start;
  justify-content: center;
  margin: 1rem 0;
  margin-left: 2rem;
  background-color: #01251e9f;
  border-radius: var(--border-soft);
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 1rem 0;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.sidebar nav ul li {
  font-size: 1.5rem;
  padding: 1rem;
  transition: transform 0.2s ease;
}

.bottom-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.github-icon {
  height: 1.3rem;
  width: auto;
  filter: brightness(0.6);
  display: inline-block;
  transition: transform 0.5s ease; 
}

.github-icon:hover {
  transform: rotate(360deg) scale(1.05);
  filter: drop-shadow(0 0 3px var(--orange));
}


.container {
  grid-area: container;
  background-color: rgba(118, 209, 26, 0);
  padding: 1.5rem 2rem;
  display: grid;
  grid-template-columns: 2fr auto;
  gap: var(--lg-gap);
}

.main-left {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: min-content min-content 1fr;
  grid-template-areas:
    "date task timer"
    "quote quote timer"
    "bottom-l bottom-l bottom-l";
  gap: var(--lg-gap)
}

.main-left > *,
.main-right > * {
  background-color: var(--secondary-clr);
  border-radius: var(--border-soft);
  box-shadow: var(--shadow-soft);
  padding: var(--sm-padding);
}

h2 {
  font-size: clamp(1.2rem, 3vh, 1.7rem);
  font-weight: 500;
  letter-spacing: 0.05em;
}

.date-container {
  grid-area: date;
  width: 10vw;
  display: grid;
  place-items: center;
  background-color: var(--bg-body);
  margin-top: 1rem;
  cursor: pointer;
}

.weekday {
  font-size: 1.5rem;
}

.date {
  font-size: 3rem;
}

.month {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 3px;
}

.task-container {
  grid-area: task;
  position: relative;
  padding-top: 2.5rem;
  border: solid var(--bg-body);
  max-width: 40vw;
}

.task-container h2 {
  position: absolute;
  top: -1rem;
  font-weight: 600;
  letter-spacing: 0.15em;
}

.task-container svg[data-lucide="ellipsis-vertical"]  {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 50%); 
}

.task-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
  font-size: 1.3rem;
}

.task-item input {
  display: none;
}

.task-item span {
  position: relative;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

.box-inner {
  width: 100%;
  height: 100%;
  border: 2px solid var(--accent-clr);
  transition: transform 0.3s ease, border 0.3s ease;
  border-radius: 0.4rem;
}

.task-item span:hover .box-inner {
  transform: rotate(90deg) scale(1.08);
  border: 3px solid var(--accent-clr);
}

.task-item input:checked + span .box-inner {
  border: 2px solid var(--dark-yellow);
}

.task-item span::after {
  content: '';
  position: absolute;
  top: 10%;
  left: 50%;
  width: 18px;
  height: 26px;
  border: solid var(--mint);
  border-width: 0 3px 3px 0;
  transform: translate(-50%, -50%) rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.task-item input:checked + span::after {
  opacity: 1;
}

.quote {
  position: relative;
  grid-area: quote;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin: auto 4rem;
  padding: 1rem 3rem;
  background-color: var(--green);
  z-index: 1;
}

.quote .branch {
  position: absolute;
  width: clamp(100px, 15vw, 300px);
  bottom: -120px;
  left: -110px;
  opacity: 0.5;
  transform: rotate(-25deg);
}

.quote p:last-child {
  font-size: 1rem;
  margin-top: 1rem;
}

.timer-container {
  position: relative;
  grid-area: timer;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--dark-yellow);
}

.timer-container svg[data-lucide="bell-plus"]  {
  position: absolute;
  top: 26%;
  left: 74%;
  }

.countdown {
  font-size: 3.5rem;
  margin: 1rem 0;
  font-weight: 600;
}

.timer-container label {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.timer-container input {
  border-radius: var(--border-soft);
  border: 2px solid var(--green);
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  font-size: 1.2rem;
  box-sizing: border-box;
  background-color: var(--bg-body);
  color: var(--text-clr);
}

.timer-container input:hover,
.timer-container input:focus {
  border-color: var(--dark-yellow);
  background-color: var(--green);
  transform: scale(1.02);
  outline: none;
}

.timer-buttons button {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 2rem 0.25rem;
  font-size: 1rem;
  font-weight: 600;
  width: 8rem;
  border: none;
  transition: background-color 0.2s ease;
  background-color: var(--green);
  color: var(--mint);
  cursor: pointer;
}

.timer-buttons button:hover {
  background-color: var(--mint);
  color: var(--secondary-clr);
  transform: scale(1.03) rotate(-1deg);
}

.timer-buttons .start {
  background-color: var(--orange);
}

.bottom-left {
  padding: 0;
  box-shadow: none;
  grid-area: bottom-l;
  display: grid;
  grid-template-columns: auto auto;
  gap: var(--lg-gap);
  background-color: #4caf4f00;
}

.bottom-left > * {
  border-radius: var(--border-soft);
  box-shadow: var(--shadow-soft);
  padding: var(--sm-padding);
}

.graph-container {
  position: relative;
  display: flex;
  justify-content: end;
  width: 600px;
  margin: -3rem auto;
  overflow: hidden;
}

.video-bg {
  width: 100%;
  height: auto;
  display: block;
  border-radius: inherit;
}

.graph-container svg[data-lucide="chevron-down"]  {
  position: absolute;
  top: 30px;
  right: 0;
  transform: translate(-60%, 100%); 
}

.habit-container {
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 1.25rem;
  background-color: var(--secondary-clr);
  border: 4px solid var(--bg-body);
  padding: 0.25 4rem;
}

.habit-container h2 {
  padding-left: 4rem;
}

.habit-container svg[data-lucide="list-plus"]  {
  position: absolute;
  top: 8%;
  left: 13%;
  transform: translate(-50%, 30%); 
}


.habit-grid {
  display: grid;
  grid-template-columns: 1fr repeat(7, auto);
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.habit-name {
  font-size: 1rem;
  text-align: left;
}

.habit-item {
  text-align: left;
  padding-right: 2rem;
}

.day {
  font-weight: 600;
  color: var(--text-clr);
  background-color: var(--primary-clr);
  padding: 0.5rem;
  border-radius: 6px;
  text-align: center;
}

.active-day {
  background-color: var(--xtra-accent-clr);
  color: var(--text-clr);
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.custom-checkbox {
  display: inline-block;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox span,
.task-item span {
  display: inline-block;
  background-color: #ffffff00;
  transition: all 0.3s ease;
  position: relative;
}

.custom-checkbox span {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid var(--mint);
  transition: transform 0.2s ease;
}

.custom-checkbox:hover span {
  transform: scale(1.05);
  border: 3px solid var(--mint);
}

.inactive-day.custom-checkbox:hover span {
  transform: none;
  border: 2px solid #8cdaa3bb;
}

.custom-checkbox input[type="checkbox"]:checked + span {
  background-color: var(--mint);
  border-color: var(--mint);
}

.main-right {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: var(--lg-gap);
  width: 20vw;

}

.main-right > * {
  background-color: var(--green);
  padding: 2rem;
  margin-left: 1rem;
}

.motivation-center {
  max-width: 600px;
  position: relative;
}

.motivation-center h2 {
  margin-bottom: 1rem;
}

.motivation-center svg[data-lucide="chevron-down"]  {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 60%); 
}

.reminder {
  background-color: var(--bg-body);
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 0.75rem;
  text-align: left;
}

.reminder p {
  margin: 0;
  font-size: 1rem;
}

.brain-dump {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
}

.brain-dump label {
  font-weight: bold;
  font-size: 1rem;
}

.brain-dump textarea {
  height: 80%;
  border: 1px solid var(--dark-yellow);
  border-radius: 12px;
  padding: 1rem;
  font-size: 1rem;
  resize: none;
  font-family: inherit;
  background: var(--bg-body);
  color: var(--text-clr);
}

.brain-dump textarea:hover,
.brain-dump textarea:focus {
  border-color: var(--dark-yellow);
  background-color: var(--green);
  transform: scale(1.02);
  outline: none;
}

svg {
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease, fill 0.3s ease;
  opacity: 0.5;
}

svg:hover {
  opacity: 1;
  transform: scale(1.05) rotate(-2deg);
}

.sidebar-nav .active svg {
  fill: var(--orange);
  opacity: 1;
  transform: scale(1.1);
}

.hover-container {
  transition: transform 0.2s ease;
  will-change: transform;
}

.hover-container:hover {
  transform: scale(1.01);
}

@media (max-width: 1750px) {
  .main-right {
    display: none;
  }
}